nav {
    display: flex; /* Make the nav a flex container */
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /*background: linear-gradient(0.2deg, rgb(51, 204, 255) 4.8%, rgb(51, 102, 255) 85.5%);
*/
    background: radial-gradient(circle at 10% 20%, rgb(59, 149, 237) 0%, rgb(7, 91, 173) 90%);
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center; /* Center items vertically */
}

.nav-left,
.nav-middle,
.nav-right {
    display: flex; /* Make the sub-containers flex containers */
    align-items: center; /* Vertically align items */
}

.nav-left h1{
    color: white;
    margin-left: 10px;
    height: 26px;
}
.nav-left {
    display: flex;
    align-items: center;
    cursor: pointer; /* Add cursor pointer on hover */
}

.nav-left h1 {
    color: white;
    margin-left: 10px;
    height: 26px;
}

.nav-left span {
    color: red;
}

.nav-left img {
    margin-right: 6px;
}

.nav-left span{
    color: red;
}

.nav-left img{
    margin-right: 6px;
}
.nav-middle {
    flex: 0.85; /* Take up the available space */
}

.nav-middle .search-box {
    display: flex; /* Flexbox for search-box to align input and image */
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    flex: 0.85;
    align-items: center;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.nav-middle .search-box input {
    flex: 1; /* Make the input take up available space */
    border: 0;
    outline: 0;
    background: transparent;
    padding: 0 10px; /* Add some padding for spacing from the image */
    min-width: 0; /* Prevent flexbox shrinking issues */
}
.nav-middle .search-box img {
    width: 15px;
    flex-shrink: 0; /* Prevent the image from shrinking */
   
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    padding: 6px;
    
    
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
    color: lightgrey;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
   
}
.voice-search img{
    width: 35px;
    height: 35px;
    
}

@media (max-width:900px) {
    .menu-icon{
        display: none;
    }
    .nav-right img{
        display:none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 89px;
    }
    
}
