
.play-container{
    background: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:900px){
    .play-container{
        padding-left: 5%;
        padding-right: 5%;
    }
}


/* Additional adjustments for small screens (max-width: 600px) */
@media (max-width: 600px) {
    .play-container {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center align items for better layout on mobile */
    }
}
